<p-table [columns]="cols" [value]="vehicles">
    <ng-template pTemplate="caption">
        List of Cars
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle let-columns="columns">
        <tr>
            <ng-container *ngFor="let col of columns" [ngSwitch]="col.header">
                <td *ngSwitchCase="'Vin'">
                    <p style="margin: 0px" (click)="show(vehicle)">{{vehicle[col.field]}}</p>
                </td>
                <td *ngSwitchDefault>
                    {{vehicle[col.field]}}
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>