<p-table [value]="vehicles" sortField="brand" sortMode="single" (onSort)="onSort()">
        <ng-template pTemplate="header">
            <tr>
                <th>Brand</th>
                <th>Vin</th>
                <th>Year</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicles let-rowIndex="rowIndex">
            <tr>
                <td *ngIf="rowGroupMetadata[vehicles.brand].index === rowIndex" [attr.rowspan]="rowGroupMetadata[vehicles.brand].size">
                    {{vehicles.brand}}
                </td>
                <td>{{vehicles.vin}}</td>
                <td>{{vehicles.year}}</td>
                <td>{{vehicles.color}}</td>
            </tr>
        </ng-template>
    </p-table>