<table>
    <ng-container *ngFor="let person of persons; index as i" [ngSwitch]="person.status">
        <tr *ngSwitchCase="'valid'" class="valid">
            <td table-data [value]="i"></td>
            <td table-data [person]="person" property="foreName"></td>
            <td table-data [person]="person" property="name"></td>
            <td *ngIf="person.visibleCity" table-data [person]="person" property="city"></td>
            <td *ngIf="!person.visibleCity" table-data [value]="'-'"></td>
        </tr>
        <tr *ngSwitchCase="'pending'" class="pending">
            <td table-data [value]="i"></td>
            <td table-data [person]="person" property="foreName"></td>
            <td table-data [person]="person" property="name"></td>
            <td *ngIf="person.visibleCity" table-data [person]="person" property="city"></td>
            <td *ngIf="!person.visibleCity" table-data [value]="'-'"></td>
        </tr>
        <tr *ngSwitchCase="'error'" class="error">
            <td table-data [value]="i"></td>
            <td table-data [person]="person" property="foreName"></td>
            <td table-data [person]="person" property="name"></td>
            <td *ngIf="person.visibleCity" table-data [person]="person" property="city"></td>
            <td *ngIf="!person.visibleCity" table-data [value]="'-'"></td>
        </tr>
        <tr *ngSwitchDefault class="default">
            <td table-data [value]="i"></td>
            <td table-data [person]="person" property="foreName"></td>
            <td table-data [person]="person" property="name"></td>
            <td table-data [person]="person" property="city"></td>
        </tr>
    </ng-container>
</table>