div.buttonContainer {
  margin-top: 20px;
  white-space: nowrap;
}

button {
  background-color: var(--bg-col-btn);
  padding: 5px 15px;
  font-weight: bold;
  border: 2px solid var(--border-col-btn);
  color: var(--col-btn);
  border-radius: 5px;
  margin-right: 15px;
}

button:hover {
  background-color: var(--bg-col-btn-hover);
  border-color: var(--border-col-btn-hover);
  color: var(--col-btn-hover);
  cursor: pointer;
}

button.btn-primary {
  background-color: var(--bg-col-btn-primary);
  border-color: var(--border-col-btn-primary);
  color: var(--col-btn-primary);
}

button:disabled,
button.btn-primary:disabled,
button.btn-primary:disabled:hover {
  background-color: var(--bg-col-btn-primary-disabled);
  border-color: var(--border-col-btn-primary-disabled);
  color: var(--col-btn-primary-disabled);
  cursor: default;
}

button.btn-primary:hover {
  background-color: var(--bg-col-btn-primary-hover);
  border-color: var(--border-col-btn-primary-hover);
}
